.inputRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 6px 0px;
}

.emptyPrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  font-family: var(--font-body);
  font-size: 1.3em;
  margin: 0 auto;
  width: 80vw;
  opacity: 0.65;
}

@media (min-width: 920px) {
  .emptyPrompt {
    font-size: 1.6em;
  }
}
