.feedback {
  font-size: 1.1em;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 4px;
  padding: 6px 12px;
  min-width: 230px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.container {
  position: relative;
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
  padding: 16px 32px;
}

.selectorRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  align-items: left;
  width: 100%;
  position: static;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 24px auto;
  position: static;
}

.levelButton {
  width: 110px;
  padding: 6px 0;
  font-size: 0.95em;
  background: var(--off-white);
  color: var(--charcoal);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.pickButton {
  background: transparent;
  border-radius: 50%;
  padding: 8px 16px;
  font-size: 2em;
  border: 1px solid var(--charcoal);
  color: var(--charcoal);
  text-decoration: none;
  transition:
    background 0.2s,
    border-color 0.2s;
  cursor: pointer;
  outline: none;
}

.pickButtonDark {
  border: 1.5px solid var(--off-white);
  color: var(--off-white);
}

.pickButton:hover,
.pickButton:focus {
  border-color: var(--charcoal);
}

.kanji {
  margin-bottom: 8px;
  font-weight: 300;
  font-family:
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "Yu Gothic",
    "MS PGothic", sans-serif;
  font-size: 30px;
}

.quizCard {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
}

.jukugoWord {
  font-size: 3.5rem;
  width: 100%;
  display: block;
  margin-bottom: 8px;
}

.jukugoMeaning {
  font-size: 1.5rem;
  width: 90vw;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feedback {
  font-size: 1.2em;
}

.correct {
  color: var(--green);
}

.incorrect {
  color: var(--red);
}

.nextButton {
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1em;
  border: none;
  background: var(--cobalt-blue);
  color: var(--off-white);
  cursor: pointer;
}

.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  font-size: 1.6em;
  align-self: center;
  width: 100%;
}

.pickButtonMobile {
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 100;
}

.quizMainWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .kanji {
    font-size: 50px;
  }

  .container {
    padding-top: 150px;
  }

  .levels {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
  }

  .selectorRow {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    width: 100%;
  }

  .jukugoWord {
    white-space: nowrap;
    font-size: 8rem;
  }

  .inputRow {
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 12px;
  }

  .complete {
    font-size: 2em;
  }

  .quizMainWrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .historyWrapper {
    position: fixed;
    top: 100px;
    right: 20px;
    max-width: 320px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    align-self: flex-start;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 10;
  }
}
