.button {
  background: transparent;
  border: var(--border-weight) solid var(--foreground);
  padding: 6px 18px;
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.2s;
  outline: none;
  color: var(--foreground);
}

.buttonDark {
  background: transparent;
  color: var(--foreground);
  border-color: var(--foreground);
}

.button:hover,
.button:focus {
  text-decoration: none;
  opacity: 0.6;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
