.button {
  background: transparent;
  border: 1px solid var(--charcoal);
  padding: 6px 18px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: border-color 0.2s, color 0.2s, background 0.2s, box-shadow 0.2s;
  outline: none;
  color: var(--charcoal);
}

.buttonDark {
  background: transparent;
  color: var(--off-white);
  border-color: var(--off-white);
}

.button:hover,
.button:focus {
  text-decoration: none;
  background: var(--cobalt-blue);
  color: var(--off-white);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  .button {
    background: var(--off-white);
    color: var(--charcoal);
    border-color: var(--off-white);
  }
}
