.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: var(--border-weight) solid var(--rule-color);
  margin-bottom: 0;
  font-size: 0.8em;
}

.nav {
  display: flex;
  align-items: center;
}

.headerDark {
  border-bottom-color: var(--rule-color);
}

.titleLink {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: inline;
  font-weight: 500;
  font-family: var(--font-body);
  letter-spacing: -0.01em;
  font-size: 1.1em;
}

.titleLink:hover,
.titleLink:focus {
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.navLink {
  text-decoration: none;
  padding-left: 24px;
  padding-right: 16px;
  outline: none;
  font-weight: 400;
  font-family: var(--font-body);
  font-size: 0.9em;
  vertical-align: middle;
}

.navLink:hover,
.navLink:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.darkModeToggle {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  margin-left: 16px;
}

@media (min-width: 600px) {
  .header {
    padding: 18px 36px;
    font-size: 1em;
  }
}
