.jukugoText {
  margin-bottom: 16px;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  line-height: 1;
}

.kanji {
  display: block;
  font-size: 4rem;
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", "MS PGothic",
    sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.05;
}

@media (min-width: 920px) {
  .jukugoText {
    margin-bottom: 24px;
  }

  .kanji {
    font-size: 6.5rem;
  }
}
