.searchIcon {
  padding: 5px 10px;
  font-size: 1.3em;
  background: transparent;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.2s;
  border: 1px solid var(--charcoal);
  margin-left: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.searchIcon:hover,
.searchIcon:focus {
  box-shadow: 0 0 0 1.3px currentColor;
}

.searchIconDark {
  background: var(--charcoal);
  color: var(--off-white);
  border: 1px solid var(--off-white);
}
