.themeIcon {
  padding: 5px 10px;
  font-size: 1.3em;
  background: transparent;
  color: var(--foreground);
  text-decoration: none;
  transition: opacity 0.2s;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.themeIcon:hover,
.themeIcon:focus {
  opacity: 0.5;
}

.themeIconDark {
  color: var(--foreground);
}
