.main {
  padding: 24px 32px;
}

.paragraph {
  margin: 0;
  padding: 0 0 40px;
  line-height: 1.2;
  font-size: 2em;
}

.inlineLink {
  color: var(----cobalt-blue);
  text-decoration: underline;
  word-break: break-all;
}

.inlineLink:hover {
  text-decoration: none;
}
