.container {
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
}

.selectorRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  align-items: left;
  width: 100%;
  position: static;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  width: 100%;
  position: static;
}

.levelButton {
  width: 100px;
  padding: 8px 0;
  background: #eee;
  color: #222;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.levelButton.selected {
  background: #3d58e3;
  color: #fff;
}

.pickButton {
  background: #fff;
  border-radius: 50%;
  padding: 8px 16px;
  font-size: 2em;
  border: 1px solid transparent;
  color: #2c2c2c;
  text-decoration: none;
  transition: background 0.2s, border-color 0.2s;
  cursor: pointer;
  outline: none;
}

.pickButton:hover,
.pickButton:focus {
  border-color: #2c2c2c;
}

.kanji {
  margin-bottom: 8px;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo",
    "Yu Gothic", "MS PGothic", sans-serif;
  font-size: 50px;
}

.quizCard {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
}

.jukugoWord {
  font-size: 5rem;
  width: 100%;
  display: block;
  margin-bottom: 8px;
}

.jukugoMeaning {
  font-size: 1.5rem;
}

.inputRow {
  padding-top: 25%;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.input {
  font-size: 1.2em;
  padding: 6px 12px;
}

.submitButton {
  margin-left: 8px;
  padding: 10px 16px;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  background: #3d58e3;
  color: #fff;
  cursor: pointer;
}

.feedback {
  margin-top: 12px;
  font-size: 1.2em;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.nextButton {
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1em;
  border: none;
  background: #3d58e3;
  color: #fff;
  cursor: pointer;
}

.complete {
  font-size: 1.2em;
  margin-top: 24px;
}

.pickButtonMobile {
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 100;
}

@media (min-width: 920px) {
  .levels {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
  }

  .selectorRow {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 32px;
    bottom: 32px;
    width: 120px;
    margin-bottom: 0;
  }

  .jukugoWord {
    white-space: nowrap;
    font-size: 8rem;
  }

  .pickButtonMobile {
    position: static;
    bottom: auto;
    left: auto;
    z-index: auto;
  }

  .inputRow {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 12px;
  }
}
