@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --white: #fff;
  --off-white: #ebe8e5;
  --charcoal: #28282a;
  --grey: #333;
  --light-grey: #ccc;
  --cobalt-blue: #3d58e3;
  --light-cobalt-blue: #8faaff;
  --green: #54ab1d;
  --red: #e8441f;

  --background: var(--off-white);
  --foreground: var(--charcoal);

  --font-body: "Instrument Sans", "Helvetica Neue", Helvetica, sans-serif;
  --font-mono: "DM Mono", "SF Mono", "Consolas", monospace;
  --border-weight: 1px;
  --rule-color: rgba(40, 40, 42, 0.45);

  --text-muted: #434345;
  --text-subtle: #52504d;
}

html.dark {
  --off-white: #ebe8e5;
  --charcoal: #28282a;
  --background: var(--charcoal);
  --foreground: var(--off-white);
  --rule-color: rgba(235, 232, 229, 0.35);

  --text-muted: #c8c5c2;
  --text-subtle: #9e9b98;

  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
