.heading {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-weight: 300;
  text-align: left;
}

.text {
  font-size: 1.3em;
  margin-bottom: 0.8em;
  text-align: left;
}

.levelButtons {
  padding: 8px 8px;
  font-size: 1em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.levelsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 1em;
}

@media (min-width: 900px) {
  .layoutRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
    padding-top: 50px;
  }
}
