.selectorRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  align-items: left;
  width: 100%;
  position: static;
}

@media (min-width: 920px) {
  .selectorRow {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    width: 100%;
  }
}
